<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="out_word_1" type="System.Configuration.DictionarySectionHandler"/>
    <section name="out_word_2" type="System.Configuration.DictionarySectionHandler"/>
    <section name="in_word_1" type="System.Configuration.DictionarySectionHandler"/>
    <section name="in_word_2" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  
  <appSettings>
    <!-- psms DAL configuration settings. Possible values: psms.SQLServerDAL for SqlServer -->
    <add key="AppDAL" value="psms.SQLServerDAL"/>
    <!-- Enable data caching -->
    <add key="EnableCaching" value="true"/>



    <!--report config-->
    <add key="test" value ="testvalue"/>

    <!-- 表头高度-->
    <add key="titleSize" value ="20"/>
    <!-- 是否每一页都要打印标题。默认false-->
    <add key="isEveryPagePrintTitle" value ="fasle"/>
    <!--列名高度 -->
    <add key="headerHeight" value ="30"/>
    <!--顶边距 -->
    <add key="topMargin" value ="50"/>
    <!--单元格顶边距 -->
    <add key="cellTopMargin" value ="6"/>
    <!--单元格左边距 -->
    <add key="cellLeftMargin" value ="4"/>
    <!--每页行数 -->
    <add key="pageRowCount" value ="30"/>
    <!--行高 -->
    <add key="rowGap" value ="28"/>
    <!-- 每列间隔-->
    <add key="colGap" value ="5"/>
    <!-- 页面左边距-->
    <add key="leftMargin" value ="80"/>


    <!--标题字体 -->
    <add key="titleFont" value ="隶书"/>
    <!--标题字体大小 -->
    <add key="titleFontSize" value ="24"/>
    <!--标题字体加粗 -->
    <add key="titleFontBold" value ="true"/>

    <!--副标题字体 -->
    <add key="dateFont" value ="黑体"/>
    <!--副标题字体大小 -->
    <add key="dateFontSize" value ="12"/>
    <!--副标题字体加粗 -->
    <add key="dateFontBold" value ="true"/>

    <!-- 正文字体-->
    <add key="font" value ="宋体"/>
    <!--正文字体大小 -->
    <add key="fontSize" value ="10"/>
    <!-- 正文字体加粗-->
    <add key="fontBold" value ="false"/>

    <!--列名标题字体 -->
    <add key="headerFont" value ="黑体"/>
    <!--列名标题字体大小 -->
    <add key="headerFontSize" value ="12"/>
    <!--列名标题字体加粗 -->
    <add key="headerFontBold" value ="true"/>


    <!--页脚显示页数的字体 -->
    <add key="footerFont" value ="Arial"/>
    <!--页脚显示页数的字体大小 -->
    <add key="footerFontSize" value ="8"/>
    <!--页脚显示页数的字体加粗 -->
    <add key="footerFontBold" value ="false"/>

    <!-- 是否自动计算行数-->
    <add key="isAutoPageRowCount" value ="true"/>

    <!--底边距 -->
    <add key="buttomMargin" value ="80"/>

    <!-- 是否打印页脚页数-->
    <add key="needPrintPageIndex" value ="true"/>

    <!--设置是否显示统计 -->
    <add key="setTongji" value ="true"/>



    <!--设置出库单横版位置 -->
      <!--每页宣传品个数 -->
      <add key="out_word_1_pageCount" value="8" />
      <!--写入宣传品起始行 -->
      <add key="out_word_1_beginRow" value="5" />
      <!--出库时间 -->
      <add key="out_word_1_outDate" value="2,2" />
      <!--请领单位 -->
      <add key="out_word_1_outOu" value="2,4" />

      <!--赠送分类 -->
      <add key="out_word_1_vipOu" value="3,2" />
      <!--赠送单位 -->
      <add key="out_word_1_remark" value="3,4" />
      <!--出库编号 -->
      <add key="out_word_1_outscrpno" value="15,6" />

    <!--设置出库单竖版位置 -->
      <!--每页宣传品个数 -->
      <add key="out_word_2_pageCount" value="8" />
      <!--写入宣传品起始行 -->
      <add key="out_word_2_beginRow" value="6" />
      <!--出库时间 -->
      <add key="out_word_2_outDate" value="2,2" />
      <!--请领单位 -->
      <add key="out_word_2_outOu" value="2,4" />

      <!--赠送分类 -->
      <add key="out_word_2_vipOu" value="3,2" />
      <!--赠送单位 -->
      <add key="out_word_2_remark" value="4,2" />
      <!--出库编号 -->
      <add key="out_word_2_outscrpno" value="17,4" />

    <!--设置提货凭证横版位置 -->
    <!--每页宣传品个数 -->
    <add key="in_word_1_pageCount" value="8" />
    <!--写入宣传品起始行 -->
    <add key="in_word_1_beginRow" value="4" />
    <!--入库时间 -->
    <add key="in_word_1_inDate" value="2,2" />
    <!--提货单号 -->
    <add key="in_word_1_goodsNo" value="2,4" />
    <!--入库编号 -->
    <add key="in_word_1_inscrpno" value="14,4" />


    <!--设置提货凭证竖版位置 -->
    <!--每页宣传品个数 -->
    <add key="in_word_2_pageCount" value="5" />
    <!--写入宣传品起始行 -->
    <add key="in_word_2_beginRow" value="4" />
    <!--入库时间 -->
    <add key="in_word_2_inDate" value="2,2" />
    <!--提货单号 -->
    <add key="in_word_2_goodsNo" value="2,4" />
    <!--入库编号 -->
    <add key="in_word_2_inscrpno" value="9,4" />




  </appSettings>





  <connectionStrings>
    <add name="SQLConnString" providerName="System.Data.SqlClient" 
		  connectionString="Data Source=(local);Initial Catalog=psms;Persist Security Info=True;User ID=sa;Password=123456" />
    <add name="MS Access" providerName="System.Data.OleDb" 
		  connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Databases\adept.mdb" />

  </connectionStrings>
  
  
</configuration>